In [1]:
import ReviewData as RD

In [2]:
ltdstops = RD.readLTDstops()

In [3]:
ltdstops.head()

,stopNumber,stopName,longitude,latitude,geom
0,00001,E/S of 58th N of Main,-122.926726,44.046335,POINT (-13684140.499 5472615.449)
1,00002,E/S of 58th S of D,-122.926220,44.049456,POINT (-13684084.216 5473098.744)
2,00004,E/S of 58th S of Thurston Rd,-122.926243,44.052247,POINT (-13684086.821 5473531.152)
3,00006,S/S of Thurston W of 64th,-122.916628,44.052949,POINT (-13683016.473 5473639.838)
4,00007,S/S of Thurston E of 65th,-122.913227,44.052675,POINT (-13682637.864 5473597.336)

In [4]:
EmXstops = ltdstops.loc[ltdstops['stopName'].str.contains("EmX", case=False)]

In [5]:
import os

In [6]:
EmXstops.to_file(os.path.join(r"T:\DCProjects\StoryMap\BikeCounting\BikeMap\data\mapdata", "EmX_stops.shp"))

In [7]:
EmXstops.head()

,stopNumber,stopName,longitude,latitude,geom
1068,09901,EmX High Street Station outbound,-123.087714,44.048787,POINT (-13702061.679 5472995.206)
1069,09902,EmX Hilyard Station Outbound,-123.082311,44.047603,POINT (-13701460.164 5472811.830)
1070,09903,EmX Dads' Gates Station Outbound,-123.077481,44.047652,POINT (-13700922.491 5472819.373)
1071,09904,EmX Agate Station Outbound,-123.069273,44.046351,POINT (-13700008.836 5472617.958)
1072,09905,EmX Walnut Station Outbound,-123.061105,44.044701,POINT (-13699099.523 5472362.312)

In [8]:
ltd_stops = ltdstops.loc[~ltdstops['stopName'].str.contains("EmX", case=False)]

In [9]:
ltd_stops.to_file(os.path.join(r"T:\DCProjects\StoryMap\BikeCounting\BikeMap\data\mapdata", "LTD_stops.shp"))